.page {
  text-align: center;
  padding: 50px;
  font-family: 'Segoe UI', sans-serif;
}

.primary-btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.primary-btn:hover {
  background-color: #0056b3;
}
